backend/.aws-sam/build/ProfileFunction/statemachine.asl.json
{
  "Comment": "Virtual Try-On Orchestrator using Native HTTP Task",
  "StartAt": "PreparePayload",
  "States": {
    "PreparePayload": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.jobId",
        "userId.$": "$.userId",
        "itemUrl.$": "$.itemUrl",
        "selfieUrl.$": "$.selfieUrl",
        "apiPayload": {
          "clothes_image_url.$": "$.itemUrl",
          "user_image_url.$": "$.selfieUrl",
          "user_id.$": "$.userId"
        }
      },
      "Next": "GenerateImage"
    },
    "GenerateImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GeneratorFunctionArn}",
        "Payload": {
          "jobId.$": "$.jobId",
          "itemUrl.$": "$.itemUrl",
          "selfieUrl.$": "$.selfieUrl"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "JobFailed"
        }
      ],
      "ResultPath": "$.generationResult",
      "Next": "SaveResult"
    },
    "SaveResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ResultSaverFunctionArn}",
        "Payload": {
          "jobId.$": "$.jobId",
          "resultUrl.$": "$.generationResult.Payload.resultUrl"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "JobFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ResultSaverFunctionArn}",
        "Payload": {
          "jobId.$": "$.jobId",
          "status": "FAILED",
          "error.$": "$.errorInfo"
        }
      },
      "End": true
    }
  }
}
